button {
    border-radius: 1em;
    color: white;
    border: 0;
    border-style: none;
    margin-bottom: 1em;
    width: 100%;
    font-size: larger;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}
button:active {
    border-style: inset;
}

#mainBar {
    /* background-color: rgba(255, 0, 0, 0.3); */
    margin: 0 auto;
    padding: 5% 0;
    max-width: 30em;
    width: 60%;
    min-height: 500;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first {
    background-color: #F4B740;
    flex: 1;
}
#second {
    background-color: #EA347F;
    flex: 3;

}
#third {
    background-color: #2EC8EC;
    flex: 2;
}